body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(193, 228, 196);
    color: rgb(110, 170, 110);
    background-image: url(https://img.freepik.com/fotos-premium/um-impressionante-padrao-de-pele-de-cobra-vermelha-e-preta-que-e-perfeito-para-fundos-e-varios-projetos-de-design-padrao-de-pele-de-cobra-exotica-vermelha-e-preta-gerada-por-ia_538213-17985.jpg);
    background-size: 2000px;
    background-repeat: no-repeat;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(247, 236, 243);
    font-size-adjust: calc(1);
}








































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































